@use '../../App.scss' as g;

.relative-wrap {
    @include g.myFlexCol($gap: 40px);
    padding: 0 60px;
    max-width: 644px;
    width: 100%;
    margin: 0 auto;

    @include g.respond768(768px) {
        padding: 0 20px;
        max-width: 768px;
        width: 100%;
        margin: 0 auto;
    }

    @include g.respond480(480px) {
        padding: 0 20px;
    }

    .relative-list {
        @include g.myFlexCol($gap: 20px);

        @include g.respond768(768px) {
            width: 100%;
            margin: 0 auto;
        }

        li {
            width: 100%;
            .relative-card {
                width: 100%;
                // min-width: 482.75px;
                > iframe {
                    width: 100%;
                    aspect-ratio: 16 / 9;
                    border: none;
                }
            }
        }
        align-items: center;
    }
}
