.rec-card {
  .R-b-poster {
  }
  .R-b-logo {
    transform: translate(-260%, 150%);
  }
}
.rec-section {
  .swiper-top {
    margin-bottom: 30px;
  }
}

.editorSwiperTop .swiper-wrapper,
.editorSwiperBot .swiper-wrapper {
  transition-timing-function: linear !important;
}

.editorSwiperTop .swiper-slide,
.editorSwiperBot .swiper-slide {
  scroll-snap-align: none !important;
  -webkit-scroll-snap-align: none !important;
}
