.main-nomination-wrap {
  // background-image: url("/images/bg-main-nomination.svg");
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
  height: 640px;

  .inner {
    position: relative;
    padding: 90px 0px;
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: url("/images/bg-main-nomination.svg") center / cover no-repeat;
      opacity: 1;
      transition: opacity 300ms ease;
      z-index: 0;
    }
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: url("/images/bg-main-nomination.svg") left / cover no-repeat;
      opacity: 0;
      transition: opacity 300ms ease;
      z-index: 0;
    }
    .main-nomination {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 100px;
      position: relative;
      z-index: 1;

      .left-text {
        .item {
          margin: 50px 0 20px;

          > h3 {
            font-size: 40px;
            line-height: 140%;
            letter-spacing: -2%;
            width: 272px;
            > p {
              font-size: 18px;
              line-height: 140%;
              letter-spacing: -2%;
              margin-bottom: 50px;
            }
          }
        }
        button {
          font-family: "pretendard";
        }
      }
      .content-list {
        display: flex;
        justify-content: space-between;
        gap: 24px;
        flex: 1;
        max-width: 1160px;

        > li {
          height: 460px;
          border-radius: 12px;
          overflow: hidden;

          > a {
            display: inline-block;
            height: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 1470px) {
  .main-nomination-wrap {
    height: 100%;
    .inner {
      flex-direction: row;
      justify-content: center;

      .main-nomination {
        gap: 40px;
        .content-list {
          > li {
            &:last-child {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .main-nomination-wrap {
    .inner {
      .main-nomination {
        .content-list {
          > li {
            &:nth-child(2) {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .main-nomination-wrap {
    background-position: center;
    padding: 24px 0;
    .inner {
      &::before {
        opacity: 0;
      }
      &::after {
        opacity: 1;
      }
      .main-nomination {
        flex-direction: column;
        align-items: center;
        gap: 40px;

        .left-text {
          .item {
            margin: 10px 0;
            > h3 {
              text-align: center;
            }
            > p {
              text-align: center;
            }
          }
        }
      }
    }
  }
}
