@use "../../App.scss" as g;

.watchList-slider {
  .watch-list {
    @include g.myFlex($gap: 24px, $ai: flex-start);
    overflow: hidden;
    > li {
      @include g.myFlexCol($gap: 12px);
      align-items: flex-start;
      .img-box {
        border-radius: 12px;
        width: 464px;
        height: 260px;
        aspect-ratio: 16/9;
        overflow: hidden;
        img {
          height: 100%;
        }
      }
      .text-info {
        .bottom-info {
        }
      }
    }
  }
}
