@use "../../App.scss" as g;
.event-group-wrap {
  margin-top: 90px;
  padding-top: 60px;
  .event-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    > li {
      .img-box {
        width: 200px;
      }
      .text-box {
      }
    }
  }
}
.event-detail-wrap {
  padding-top: 90px;
  .event-detail {
    .img-box {
      width: 800px;
    }
  }
}
.event-list-tab {
  margin: 80px 0;
  @include g.myFlex($gap: 0);
  border-radius: 34px;
  background-color: g.$color-secondary-dark2;

  > li {
    flex: 1;
    > a {
      display: block;
      height: 68px;
      line-height: 68px;
      color: g.$color-font-white;
      text-align: center;
      font-family: "wave";

      &.active {
        background-color: g.$color-primary;
        border-radius: 34px;
      }
    }
  }
}
